@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* === FONT VARIABLES FROM layout.js === */
  --font-geist-sans: var(--font-geist-sans);
  --font-geist-mono: var(--font-geist-mono);

  /* Tambahkan ini */
  --font-playfair: var(--font-playfair);
  --font-poppins: var(--font-poppins);

  /* Atur default font Tailwind */
  --font-sans: var(--font-poppins); /* body pakai poppins */
  --font-serif: var(--font-playfair); /* judul pakai playfair */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* HAPUS Arial */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}
